* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.register {
  display: flex;
  flex-direction: column;
}

.register h1 {
  margin: 20px auto;
}

.container {
  border: 1px linen;
  max-width: 600px;
  margin: 0 auto;
  padding: 5px 10px;
}

.container form {
  border: 1px solid #ccc !important;
  padding: 20px 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
}

.has-error {
  background: #fde9e7;
  border: 1px solid red;
}

.forgotpassword {
  padding-left: 20px;
}

.logout {
  margin-bottom: 0px;
  cursor: pointer;
}
